{% extends 'master.html' %}
{% block body %}
<section id="form" style="margin-left:30%;"><!--form-->
		<div class="container">
			<div class="row">
             <div class="col-sm-4 col-sm-offset-1">

            <div class="signup-form"><!--signup form-->
              <h3>Sign up</h3>

              <form action="" method="POST" >
                 {% csrf_token %} 
      
                  <label for="">Username</label>
                  <input type="text" id="username" name="username" placeholder="Enter username" Required>
                  <br>
      
                  <label for="">First Name</label>
                  <input type="text" id="fname" name="fname" placeholder="Enter your first name" Required>
      
                  <br>
                  <label for="">Last Name</label>
                  <input type="text" id="lname" name="lname" placeholder="Enter your last name" Required>
      
                  <br>
                  <label for="">Email Address</label>
                  <input type="email" id="email" name="email" placeholder="Enter your Email Address" Required>
      
                  <br>
                  <label for="">Password</label>
                  <input type="Password" id="pass1" name="pass1" placeholder="Enter your Password" Required>
      
                  <br>
                  <label for="">Confirm Password</label>
                  <input type="Password" id="pass2" name="pass2" placeholder="Enter your confirm Password" Required>
      
                  <br>
                  <button type="submit">Sign Up</button>
      
              </form>
      
              {% comment %} now below we print the message if user is already exist or not and also check user email {% endcomment %}
      
              <div>
                  {% comment %} here we print the message  {% endcomment %}
      
      
                  {% for message in messages %}
                  <h3>{{message}}</h3>
                   {% endfor %}
              </div>
            </div>
        </div>
</section>


{% endblock %}