{% extends 'master.html' %}

{% block body %}
{% load static %}

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
					                    {% for object in cart_products %}

						<tr>
							<td class="cart_product">
								<a href=""><img src="{{object.product.image.url}}" alt="" height="180" width="180"></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{object.product.name}}</a></h4>

							</td>
							<td class="cart_price">
								<p>${{object.product.price}}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href="{% url 'plus-cart' object.id %}"> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="{{object.quantity}}" autocomplete="off" size="2">
									<a class="cart_quantity_down" href="{% url 'minus-cart' object.id %}"> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">${{object.total_price}}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="{% url 'remove-cart' object.id %}"><i class="fa fa-times"></i></a>
							</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->


{% endblock %}
